<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>URL Shortner</title>
  </head>
  <body>
    <div class="container">
      <div class="title">URL Shortner</div>
      <div class="prevUrl">
        URL <span class="previousUrl">%longUrl%</span> has been shortened to
        <span class="newUrl">%shortUrl%</span>
      </div>
    </div>
    <!-- <script src="changeData.js"></script> -->
  </body>
</html>
